<song>
  <div class="pull-left" id = "index_delete">
    <%=link_to raw("<span class= 'glyphicon glyphicon-remove'></span>"),
      track_path(
      id: track.id),
      method:"delete",
      remote: true,
      id: "index-delete-glyph",
      data: {confirm: "are you sure?"}%>
    <%= link_to raw("<span class= 'glyphicon glyphicon-tag'></span>"),
      "##{track.id}Tag",
      id: 'tag-track-glyph',
      'data-toggle' => 'modal'%>
  </div>
  <div class="modal fade" id=<%="#{track.id}Tag"%> tabindex="-1" role="dialog",
    aria-labelledby="new-tagModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class= "modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" 
            aria-hidden="true">x</button>
          <h3 id="new-tag-header">New Tag</h3> 
        </div>
        <div id="tag-modal">
          <%= render partial: "/tags/tag_form", locals: {track: track} %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" 
            data-dismiss="modal" aria-hidden="true">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel" id="song">
    <h4 class="pull-right">
      <div id="vote">
        <%=link_to raw(
          "<span class='glyphicon glyphicon-chevron-up'</span>"),
           vote_up_track_path(
           id: track.id),
           remote: true %>
        <%=link_to raw(
          "<span class='glyphicon glyphicon-chevron-down'</span>"),
           vote_down_track_path(
           id: track.id),
           remote: true%>
      </div>
    </h4>
    <h5>
      <%=link_to track.name, "javascript:undefined", 
      onclick: "jukebox('#{track.key}')"%>
    </h5>
    <h6>
      by <%=link_to track.artist, playlists_search_result_path(
                    search_type: 'Artist',
                    query: track.artist),
                    remote: true%></br>
      album <%=link_to track.album,
        playlists_search_result_path(list: track.album_key), remote: true%>
    </h6>
    <div id="tags-wrapper">
      <ul id="tag-block">
        <% track.tags.each do |tagged| %>
          <div id= "tag">
          <li class="tag-name" id="tag-name" ><%= link_to  tagged.name, "#" %></li>
          <li class="delete-tag" id="delete-tag">
          <%= link_to raw("<span class='glyphicon glyphicon-remove'>
                           </span>"), tagged, method: :delete,
                           remote: true %></li>
          </div>
        <%end%>
      </ul>
    </div>
    <h4>
      <div id="vote" style=text-align:right;>
        <%=track.votes_for - track.votes_against%>
        <span class= "glyphicon glyphicon-thumbs-up"></span>
      </div>
    </h4>
  </div>
</song>
