<tr>
  <div class= "well">
    <h4 class="pull-right">
      <% unless current_user.id.to_i == track.user_id %>
        <div id="vote">
          <%=link_to raw(
            "<span class='glyphicon glyphicon-chevron-up'</span>"),
             vote_up_track_path(
             id: track.id,
             playlist_id: track.playlist_id,
             playlists_owner: track.user_id,
             current_user: current_user.id,
             group: @group_id),
             remote: true %>
          <%=link_to raw(
            "<span class='glyphicon glyphicon-chevron-down'</span>"),
             vote_down_track_path(
             id: track.id,
             playlist_id: track.playlist_id,
             playlist_owner: track.user_id,
             current_user: current_user.id,
             group: @group_id),
             remote: true%>
        </div>
      <%end%>
    </h4>
    <h5>
      <button onclick= <%="jukebox('#{track.key}')"%>
        class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-play"></span>
      </button>
      <%=track.name%>
    </h5>
    <h6>
      by <%=link_to track.artist,
        playlist_path(track.playlist_id,
                      search_type: 'Artist',
                      query: track.artist),
                      remote: true%></br>
      album <%=link_to track.album,
        playlist_path(track.playlist_id, list: track.album_key), remote: true%>
    </h6>
    <h4>
      <div class="pull-left">
        <%unless track.user_id != current_user.id%>
          <%=link_to "delete", track_path(
            :id => track.id,
            :group => @group_id),
            :method => "delete",
            'class' => 'btn btn-danger btn-xs',
            data: {confirm: "are you sure?"}%>
        <%end%>
      </div>
      <div id="vote" style=text-align:right;>
        <%=track.votes_for - track.votes_against%>
        <span class= "glyphicon glyphicon-thumbs-up"></span>
      </div>
    </h4>
  </div>
</tr>
