<song>
  <div class="pull-left" id = "index_delete" 
    style=height:100px;width:20px;padding-right:30px;padding-top:40px;>
    <%=link_to raw("<span class= 'glyphicon glyphicon-remove'></span>"),
      track_path(
      id: track.id,
      group: @group_id),
      method:"delete",
      remote: true,
      data: {confirm: "are you sure?"}%>
  </div>
  <div class="panel" id="song">
    <h4 class="pull-right">
      <div id="vote">
        <%=link_to raw(
          "<span class='glyphicon glyphicon-chevron-up'</span>"),
           vote_up_track_path(
           id: track.id,
           playlist_id: track.playlist_id,
           playlists_owner: track.user_id,
           current_user: current_user.id,
           group: @group_id),
           remote: true %>
        <%=link_to raw(
          "<span class='glyphicon glyphicon-chevron-down'</span>"),
           vote_down_track_path(
           id: track.id,
           playlist_id: track.playlist_id,
           playlist_owner: track.user_id,
           current_user: current_user.id,
           group: @group_id),
           remote: true%>
      </div>
    </h4>
    <h5>
      <%=link_to track.name, "javascript:undefined", 
      onclick: "jukebox('#{track.key}')"%>
    </h5>
    <h6>
      by <%=link_to track.artist, playlists_search_result_path(
                    search_type: 'Artist',
                    query: track.artist),
                    remote: true%></br>
      album <%=link_to track.album,
        playlists_search_result_path(list: track.album_key), remote: true%>
    </h6>
    <h4>
      <div id="vote" style=text-align:right;>
        <%=track.votes_for - track.votes_against%>
        <span class= "glyphicon glyphicon-thumbs-up"></span>
      </div>
    </h4>
  </div>
</song>
