<% if @user %>
  <div id=blur>
  </div>
  <div id="white_top">
    <div class="container" id="top_body">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" >
          <div class = "lead" id = "search_description">
           Search for your favorite Track, Artist, or Album.
          </div>
          <div id= "playlist_search_form">
            <%= render partial: '/playlists/playlist_search_form' %>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>
  <div id="colored_body" id="colored_body">
    <div class="container" id= "bottom_body">
      <div class="row" id="playlist_row">
        <div class = "col-md-2" id = "specs_wrapper">
          <div id= "playlist_spec_partial">
            <%= render partial: "playlist_spec",
              locals: {user: current_user}%>
          </div>
          <div id= "group_spec_partial">
            <%= render partial: "group_spec",
              locals: {user: current_user}%>
          </div>
          <div id="friends_spec_partial">
            <%= render partial: 'friends_spec', locals: {user: current_user}%>
          </div>
          <div id="collaborations_spec_partial">
            <%= render partial: 'collaborations_spec',
              locals: {collab_groups: @collab_groups,
                       collab_playlists: @collab_playlists }%>
          </div>
        </div>
        <div class="col-md-10" id= "playlist_col">
          <div id="js_search">
          </div>
          <div id = "my_playlist_partial">
          </div>
          <div id="new-playlistModal" class="modal fade" tabindex="-1"
            role="dialog" aria-labelledby="new_playlist_modal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" 
                    aria-hidden="true">x</button>
                  <h3 id="new_playlist_header">New Playlist</h3>
                </div>
                <div id="all-time-modal" class="modal-body">
                  <%=render "/playlists/form"%>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-default" data-dismiss="modal" 
                    aria-hidden="true">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <div id="new-groupModal" class="modal fade" tabindex="-1"
            role="dialog" aria-labelledby="new_group_modal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" 
                    aria-hidden="true">x</button>
                  <h3 id="new_playlist_header">New Group</h3>
                </div>
                <div id="all-time-modal" class="modal-body">
                  <%= render "/groups/group_form"%>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-default" data-dismiss="modal" 
                    aria-hidden="true">Cancel</button>
                </div>
              </div>
            </div>
          </div>


      </div>
    </div>
  </div>
<%end%>
