  <div class="row">	
    <div class="col-md-4">
      <% if @user %>
        <% unless @user.playlists.count > 0 %>
	        <div class= "well new_playlist">
            <h1><%= link_to "Make your first playlist", 
              new_user_playlist_path(@user) %></h1>
          </div>
        <% else %>
          <div class="panel panel-default" style="padding:10%;border-top: none; border-bottom:none;">
            <h4 id= "my">My</h4>
            <h4 id="">Playlists</h4>
            <p>
            <%= link_to "Make a new playlist", new_user_playlist_path(@user), 
              'class'=>"btn btn-primary"%>
	          </p>
	          <% @user.playlists.each do |playlist| %>
              <div class="well" style="padding-bottom:0;">
                <div id= "playlist_options">
                  <h4><%= link_to playlist.name.titleize, 
                    user_playlist_path(@user, playlist)%></h4>
                  <li><h6 id= "playlist_description"><%= playlist.description %></h6></li>
                  <div class="btn-group">
                    <%= link_to "add to group","#",
                      'class'=>'btn btn-sm btn-default dropdown-toggle',
                      'data-toggle' => 'dropdown',
                      'type'=>'button' %>
                    <ul class="dropdown-menu" role="menu">
                      <%current_user.groups.each do |group|%>
                        <li><%=link_to group.name, "#"%></li>
                      <%end%>  
                    </ul>
                    <%=link_to "edit", "#",
                      'class'=> "btn btn-sm btn-default",
                      'type' => "button" %>               
                    <%=link_to "delete", user_playlist_path(@user, playlist), 
                      method: :delete,  
                      'class' => 'btn btn-sm btn-danger',
                      'type' => 'button',
                      confirm: "Are you sure?"%>   
                  </div>
                </div>
                <div id="playlist_stats" style=" border-style: solid 1px; 
                  border-top-color:#efefef; 
                  padding:10px 10px 0 0; height:30px; width:inherit;">
                  <span id="stats_inline" style="display:inline">
                    <span>Tracks: <%=playlist.tracks.count %><span>
                    <span>
                      Votes: 
                      <%z = 0%>
                      <%playlist.tracks.cycle(1) do |x|  %>
                        <%z = z + x.votes_for.to_i %>
                        <%end%>
                      <%= z %>
                    </span>  
                  </span>
                </div>
              </div>  
            <%end%>
          </div>  
        <%end%>
      <%end%>
	  </div>
	  <div class="col-md-4">
      <% if @user %>
        <% unless @user.friends.count > 0 %>
	        <div class= "well new_playlist">
		        <h1><%= link_to "Make your first friend", users_path %></h1>
          </div>
        <% else %>
      
          <div class="panel panel-default" style="padding:10%; border-top:none;border-bottom:none;">
            <h4 id= "my">My</h4>
            <h4 id="">Friends</h4>
            <p><%= link_to "Make a new friend", users_path, 
                           'class' => 'btn btn-primary' %></p>
            <% @user.friends.each do |friend| %>
              <div class="well">
                <%= image_tag friend.image, 
                  'id' => 'friend_image', 
                  'class' => 'img-circle'%>
                <h4 id="friend_playlist_count">
                <span class="badge pull-right">
                <%= friend.playlists.count%></h4>
                </span>
                <h4 id="friend_name">
                  <%=link_to friend.name.titleize, 
                  user_friend_path(@user, friend) %>
                </h4>
              </div>  
            <%end%>
          </div>  
        <%end%>
      <%end%>
    </div>
    <div class='col-md-4'>
      <% if @user %>
        <%unless @user.groups.count > 0 %>
          <div class="well new_group">
            <h1><%= link_to "Start your first group", "#" %></h1>
          </div>
        <% else %>
          <div class="panel panel-default" style="padding:10%;border-top:none;border-bottom:none;">
            <h4 id="my">My<h4>
            <h4 id="">Groups</h4>
            <p><%=link_to "Start a Group", "#", 'class' => "btn btn-primary"%></p>
            <% @user.groups.each do |group| %> 
              <div class="well">

                <h4><%=group.name %></h4>
                <div class="panel-group" id="accordian">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian"
                          href="#collapseOne">
                          Members
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse out">
                      <div class="panel-body">
                         <li><%=group.user.name%></li>
                         <%group.friends.each do |g_friend|%>
                         <li><%=g_friend.name.titleize%></li>
                        <%end%>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="panel-group" id="accordianTwo">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accorianTwo"
                          href="#collapseTwo">
                          Playlists
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse out">
                      <div class="panel-body">
                        <%group.playlists.each do |g_playlist|%>
                          <li><%=g_playlist.name%></li>
                        <%end%>
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
            <%end%>
          </div> 
        <%end%>
      <%end%>
    </div>
  </div>
  
  







