<% if @user %>
  <div id = "current_page" class = "home_pg"></div>
  <div id="white_top">
    <div class="container" id="top_body">
      <div class="row">
        <div class="col-md-6" >
          <div class = "lead" id = "search_description">
           Search for your favorite Track, Artist, or Album.
          </div>
          <div id= "playlist_search_form">
            <%= render partial: '/playlists/playlist_search_form' %>
          </div>
        </div>
        <div class="col-md-6">
          <div id = "equalizer">
            <%= render partial: '/playlists/equalizer' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="colored_body" id="colored_body">
    <div class="container" id= "bottom_body">
      <div class="row" id="playlist_row">
        <div class = "col-md-2" id = "specs_wrapper">
          <div id= "playlist_spec_partial">
            <%= render partial: "playlist_spec",
              locals: {user: current_user}%>
          </div>
          <div id= "group_spec_partial">
            <%= render partial: "group_spec",
              locals: {user: current_user}%>
          </div>
          <div id="friends_spec_partial">
            <%= render partial: 'friends_spec', locals: {user: current_user}%>
          </div>
          <div id="collaborations_spec_partial">
            <%= render partial: 'collaborations_spec',
              locals: {collab_groups: @collab_groups,
                       collab_playlists: @collab_playlists }%>
          </div>
        </div>
        <div class="col-md-10" id= "playlist_col">
          <div id="js_search">
          </div>
          <div id = "my_playlist_partial">
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>
