<% if @user %>
  <div id="white_top">
    <div class="container" id="top_body">
      <div class="row">
        <div class="col-md-6">
          <h2 class= "lead" id="dashboard_description" style=padding-bottom:50px;>
            Start by making a few playlists. Then move on to making some new 
            friendships. After that start a group and explore your herd like
            instinct.
            </h2>
        </div>    
        <div class="col-md-6">
          <%= render "graph" %>
        </div>
      </div>
    </div>
  </div>
  <div id="colored_body" id="colored_body">
    <div class="container" id= "bottom_body">
      <div class="row" id="dashboard">	
        <div class="col-md-4">
          <div class="home_pg" id="current_page"></div>
            <div class="panel panel-default" id="playlist_panel">
              <div id= "new_playlist">
                <%= link_to raw("<span class='glyphicon glyphicon-plus'></span>"), 
                  new_user_playlist_path(@user), 
                  'class'=>"btn btn-default pull-right"%>
                <h3 id="playlist_title">Playlists</h3>
              </div>
              <% @user.playlists.each do |playlist| %>
                <div class="well">
                  <div id= "playlist_options">
                    <h4><%= link_to playlist.name.titleize, 
                      playlist_path(playlist)%></h4>
                    <div class="btn-group btn-group-xs">
                      <%= link_to "add to group","#",
                        'class'=>'btn btn-sm btn-default dropdown-toggle',
                        'data-toggle' => 'dropdown',
                        'type'=>'button' %>
                      <ul class="dropdown-menu" role="menu">
                        <%current_user.groups.each do |group|%>
                          <li>
                            <%=link_to group.name.titleize, grouplists_path(
                            playlist_id: playlist.id, 
                            group_id: group.id),
                            :method => :post%>
                          </li>
                        <%end%>
                        <%unless @friends_groups.blank?%> 
                          <li class="divider"></li>
                          <% @friends_groups.each do |member_group|%>
                            <li>
                              <%= link_to member_group.name.titleize, grouplists_path(
                              playlist_id: playlist.id,
                              group_id: member_group.id),
                              :method => :post,
                              'id' => 'member_group'%>
                            </li>
                          <%end%> 
                        <%end%>
                      </ul>
                      <%=link_to "edit", "#",
                        'class'=> "btn btn-sm btn-default"%>
                      <%=link_to "delete", user_playlist_path(@user, playlist), 
                        method: :delete,  
                        'class' => 'btn btn-sm btn-danger',
                        'type' => 'button',
                        confirm: "Are you sure?"%>   
                    </div>
                  </div>
                </div>  
              <%end%>
            </div>  
        </div>
        <div class="col-md-4">
          <% if @user %>
            <div class="panel panel-default" id="friend_panel">
              <div id= new_friend>
                <%= link_to raw("<span class='glyphicon glyphicon-plus'></span>"), users_path, 
                                'class' => 'btn btn-default pull-right' %>
                <h3 id="friends_title">Friends</h3>
              </div>
              <% @user.friends.each do |friend| %>
                <div class="well">
                  <div class="friend_image">
                    <%= image_tag friend.image, 
                        'id' => 'friend_image', 
                        'class' => 'img-circle'%>
                    <h4 id="friend_name"><%=friend.name.titleize%></h4>
                    <div class="btn-group btn-group-xs">
                      <button type="button" class="btn btn-default" 
                        data-toggle="dropdown">
                        add to group <span class="caret"></span> 
                      </button> 
                      <ul class="dropdown-menu" role="menu">
                        <% for group in current_user.groups %>
                          <li><%= link_to group.name.titleize, groupships_path(
                            group_id: group.id,
                            friend_id: friend.id),
                            :method => :post %> </li>
                        <%end%>
                      </ul> 
                    </div>
                  </div>  
                </div>
              <%end%>
            </div>  
          <%end%>
        </div>
        <div class='col-md-4'>
          <div class="panel panel-default" id="group_panel">
            <div id="new_group">
              <%=link_to raw("<span class='glyphicon glyphicon-plus'></span>"),
                new_user_group_path(@user),
                'class' => "btn btn-default pull-right"%>
              <h3 id="groups_title">Groups</h3>
            </div>
            <% @user.groups.each do |group| %> 
              <div class="well">
                <h4><%=group.name.titleize %></h4>
                <div class="panel-group" id=<%="#{group.name}"%>>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent=<%="##{group.name}"%>
                        href=<%="##{group.id}"%>>
                          Members
                        </a>
                        <span class="badge pull-right">
                          <%= group.friends.count %>
                        </span>
                      </h4>
                    </div>
                    <div id=<%="#{group.id}"%> class="panel-collapse collapse out">
                      <div class="panel-body">
                         <li id="group_owner"><%=group.user.name.titleize%></li>
                         <%group.friends.each do |g_friend|%>
                         <li><%=g_friend.name.titleize%></li>
                        <%end%>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="panel-group" id=<%="playlist_#{group.name}"%>>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" 
                          data-parent=<%="#playlist_#{group.name}"%>
                          href=<%="#playlist_#{group.id}"%>>
                          Playlists
                          <span class="badge pull-right">
                            <%=group.playlists.count%>
                          </span>
                        </a>
                      </h4>
                    </div>
                    <div id=<%="playlist_#{group.id}"%> 
                      class="panel-collapse collapse out">
                      <div class="panel-body">
                        <%group.playlists.each do |g_playlist|%>
                          <li>
                          <%=link_to g_playlist.name, playlist_path(
                            g_playlist.id, group: group)%>
                          </li>
                        <%end%>
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
            <%end%>
            <%= render 'group_member'%>
          </div> 
        </div>
      </div>
    </div>
  </div>
<%end%>







