<% if @user %>
  <div id = "current_page" class = "home_pg"></div>
  <div id="white_top">
    <div class="container" id="top_body">
      <div class="row">
        <div class="col-md-6" id = "serach_form_wrapper">
          <div class = "lead" id = "search_description">
           Search for your favorite Artist, Track, or Playlist.
          </div>
          <div id= "playlist_search_form">
            <%= render partial: '/playlists/playlist_search_form', 
              locals: {playlist: @playlist} %>
          </div>
        </div>
        <div class="col-md-6">
          <div id = "equalizer">
            <%= render partial: '/playlists/equalizer' %>
          </div>
          <div class = "show" id = "graph">
            <%= render "graph" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="colored_body" id="colored_body">
    <div class="container" id= "bottom_body">
      <div class="row" id="playlist_row">
        <div class = "col-md-2" id = "specs_wrapper">
          <div id= "playlist_spec_partial">
            <%= render partial: "playlist_spec", 
              locals: {user: current_user}%> 
          </div>
          <div id= "group_spec_partial">
            <%= render partial: "group_spec", 
              locals: {user: current_user}%>
          </div>
          <div id = "fr_title">Friends</div>
          <% current_user.friends.each do |friend| %>
            <li><%= link_to friend.name, "#", id: "fr_name" %></li>
          <%end%>
          <li><%= link_to "New", sessions_my_friend_path, 
                remote: true,
                id: "new_fr_link"%>
          </li>
        </div>
        <div class="col-md-10" id= "playlist_col">
          <div id="js_search"> 
              <% unless @search_results.blank? && @album_tracks.blank?%>
              <%end%>
          </div>
          <div id = "my_playlist_partial">
          </div>
        </div>
      </div>
<%end%>
