
  <div class="span4">
	 
  </div>
  <div class="span4" id= "user-widget">
	  <% if current_user %>
	    <div class="well" id="signed_in">
		    <div class= "lead"> 
		      <%= current_user.name %>
          <%= link_to "Sign out", signout_path %>
        </div>
        
          <%=link_to image_tag('make_playlist.png'), "sessions/playlist", "id" => "make_playlist" %>
          <%=link_to image_tag('make_friend.png'),"users/index", "id" => "make_friend" %>
	      
	      <div class= "user_image">
          <%= image_tag current_user.image, 'id' => "user_image"%>
        </div>
        
       
      </div> 
    <%else%>
      <div class="well" id="sign_in">
	      <%= link_to "Sign in with Rdio", 'auth/rdio/' %>
	    </div>
	   <%end%>
  
  <div class="span4">
	</div>







