  <div class="row-fluid">	
		<div class="span12">
      <% unless current_user.playlists.count > 0 %>
	      <div class= "well new_playlist">
		      <h1><%= link_to "Make your first playlist", new_playlist_path %></h1>
        </div>
      <% else %>
        <div class="well" id="add_to_collection" >
          <h1><%= link_to "Make a new playlist", new_playlist_path %></h1> 
        </div>
        <div class="well">
          <h2 id= "my">My</h2>
          <h2 id="playlist_list_title">Playlists</h2>
          <h2 id="track_count_title">Tracks</h2>.
          <% current_user.playlists.each do |info| %>
            <div class="well">
              <h4 id= "playlist_name"><%= info.name %></h4>
              <h4 id="tracks_count">
                <%=info.tracks.count %>
              </h4>
              <li><h6 id= "playlist_description"><%= info.description %></h6></li>
            </div>  
          <%end%>
        </div>  
      <%end%>
	  </div>
  </div>
  
  






