<div id="partial_fr_title"><h2>Friends</h2></div>
<div class = "pull-right" id="search_form_wrapper">
  <li><span class="badge pull-right"><%=users.count%></span></li>
  <li id = "user_title">Users</li>
  <div id= "friends_search_form">
    <%= form_tag(users_path, :method => 'get', remote: true) do%>
      <div class="input-group input-group-sm">
        <div class= "input-group-btn">
          <button class="btn btn-default"
            name="commit"
            type="submit">
            Search
          </button>
        </div>
        <input name="search" id="search" type="text" class="form-control">
      </div>
    <%end%>
    <div id = "not_friends">
      <%unless users.blank?%>
        <% users.each do |user| %>
          <div id="not_friends_wrapper">
            <%= image_tag user.image,
              'class' => "img-circle pull-right", id: "not_fr_image"%></p>
            <li id="not_fr_name"><%= user.name.titleize%></li>
            <%= link_to 'Add friend',
              friendships_path(friend: user, user: current_user),
              remote: true,
              :method => :post ,
              'id' => 'add_friend_link',
              'class' => 'btn btn-xs btn-default' %>
          </div>
        <%end%>
      <%else%>
          Your friends with everyone!
      <%end%>
    </div>
  </div>
</div>
<div id = "friends">
  <% for friendship in current_user.friendships%>
    <div id="friend_wrapper">
      <div id = "fr_image">
        <%= image_tag friendship.friend.image,
          class: 'img-circle',
          id: "not_fr_image" %>
      </div>
      <li id="fr_name"><%= friendship.friend.name%></li>
      <%=link_to raw("<span class= 'glyphicon glyphicon-remove'</span>"),
      friendship,
      remote: true,
      method: :delete,
      id: "rm_friend_glyph"%>
      <div id = "add_fr_gp_link">
        <div class= "dropdown right">
          <%=link_to raw("<span class= 'glyphicon glyphicon-user'</span>"),
            "#",
            class: "dropdown-toggle",
            'data-toggle' => 'dropdown'%>
          <ul class = "dropdown-menu">
          <% unless current_user.groups.empty? %>
            <% current_user.groups.each do |group| %>
              <li>
              <%= link_to group.name, groupships_path(
                  friend_id: friendship.friend.id,
                  group_id: group,
                  users: users),
                  remote: true,
                  method: :post%>
              </li>
            <%end%>
          <%else%>
            <li><%= link_to "create group", new_user_group_path(current_user) %></li>
          <%end%>
          </ul>
        </div>
      </div>
    </div>
  <%end%>
</div>

