<div id = "group_wrapper">
  <div id = "gr_name_wrapper">
    <% unless group.user != current_user %>
      <div class="pull-right">
        <%= link_to raw("<span class='glyphicon glyphicon-remove'></span>"),
          group,
          method: :delete,
          data: {confirm: "Sure you want to delete #{group.name} ?"},
          id: 'gr_delete'%>
      </div>
    <%end%>
    <div id="gr_name">
      <%= group.name.titleize%>
    </div>
    <li id="gr_owner">by <%= group.user.name%></li> 
  </div>
  <div class = "pull-right" id = "gp_members">
    <div id = "members_header">
      <span class= "pull-right badge"><%= group.friends.count%></span>
      <span id = "members_glyph" class = "glyphicon glyphicon-user"></span>
    </div>
      <% group.groupships.each do |groupship|%>
        <li id = "member_name"><%= groupship.friend.name.titleize %></li>
        <% unless group.user != current_user %>
          <%= link_to "remove",
            groupship_path(groupship, group_id: group),
            remote: true,
            method: :delete,
            class: "btn btn-xs btn-default",
            data: {confirm: "are you sure"}%>
        <%end%>
      <%end%>
  </div>
  <div id = "gp_playlists">
      <% group.grouplists.each do |grouplist| %>
        <div class= "pull-left col-md-3" >
          <% unless group.user != current_user %> 
            <div id = "pl_remove_glyph" class = 'pull-right'>
            <%=link_to raw("<span id = 'pl_remove_glyph' 
              class = 'glyphicon glyphicon-remove'></span>"),
              grouplist,
              method: :delete,
              remote: true %>
            </div>
          <%end%>
          <%= render partial: "/playlists/playlist_thumbnail",
            locals: {playlist: grouplist.playlist}%>
        </div>
      <%end%>
  </div>
</div>
