<div class="span4">
</div>
<div class="span4 form-search", id="all_users">
	<%= form_tag users_path, :method => 'get' do%>
  <%= text_field_tag :search, params[:search], 'class' => "input-medium search-query" %>
  <%= submit_tag "Search", :name => nil, 'class' => 'btn', 'id' =>"submit" %>
		
  <%end%>
	<div class= "well">
	  <% @users.each do |user|%>
			<%= user.name%>
			<%=link_to 'Add friend', friendships_path(:friend_id => user), :method => :post ,'id' => 'add_friend_link' %>
			<%=link_to 'remove friend', friendships_path(:friend_id => user), :method => :delete%></br>
		<%end%>
	</div>
	<%= link_to 'home', root_path%>
</div>
<div class="span4", id="all_friends">
	<div class="well">
		<h2>Your Friends</h2>  
		<ul>  
		<%current_user.friends.each do |h| %>
		<%= h.name%> 
		<%end%>  
		</ul>
	</div>
</div>
