<div class='row-fluid'> 
	<div class="span6", id="all_users">
	  <div class= "well" id="search">
      <h2 id= users_title>Users</h2>
      <h3 id= "users_count"><%=@users.count%></h3>
		  <div class="form-search", id= "search_form">
        <%= form_tag users_path, :method => 'get' do%>
			  <%= text_field_tag :search, params[:search], 'class' => "input-medium search-query" %>
			  <%= submit_tag "Search", :name => nil, 'class' => 'btn', 'id' =>"submit" %>
				<%end%>
		  </div>
			<% @users.each do |user| %>
        <div class="well">
		      <h4 id="user"><%= user.name%></h4>
          <%= link_to 'Add friend', friendships_path(:friend_id => user), 
                       :method => :post ,'id' => 'add_friend_link', 'class' => 'btn btn-primary' %>
		    </div>
		  <%end%>
    </div>
	</div>
	<div class="span6", id="all_friends">
	  <div class="well" id= "search">
      <h2 id= "your_friends">Friends</h2>
      <h3 id= "friends_count"><%=current_user.friendships.count%></h3>
	    <%for friendship in current_user.friendships %>
	      <div class= "well">
	        <h4 id="user"><%= friendship.friend.name %></h4>
          <%=link_to 'Remove friend', friendship, :method => :delete, 
                     'id' => 'remove_friend_link', 'class' => 'btn btn-danger'%>
	      </div>
	   <%end%>
    </div> 
  </div>
</div>	
