<div id = "my_pl_wrapper">
  <div id = "pl_header_wrapper" >
    <%unless playlist.user != current_user %>
      <%= link_to raw("<span class = 'glyphicon glyphicon-remove'></span>"),
        playlist,
        id: "remove_pl",
        method: :delete,
        remote: true,
        data: {confirm: "Sure you want to delete #{playlist.name}"}%>
    <%end%>

    <li id="pl_main_name"><%=playlist.name.titleize%></li>
    <li id="pl_owner">by <%=playlist.user.name %></li>

    <div id= "playlist-controls" class="dropdown">
     <%= link_to raw("<span class='glyphicon glyphicon-play'></span>"), 
         "javascript:undefined",
         onclick: "jukebox('#{playlist.key}')",
         id: 'pl_play_glyph'%>

      <% unless unpublishable(playlist)%> 
        <%= link_to raw("<span class='glyphicon glyphicon-bullhorn'>"), 
           publish_playlist_path(playlist),
           remote: true,
           id: 'bullhorn',
           data: {confirm: "Are you sure?"}%>
      <%end%>

      <%unless playlist.user != current_user %>
        <%= link_to raw("<span class= 'glyphicon glyphicon-tag'></span>"),
          "##{playlist.id}Tag",
          id: 'playlist-tag',
          "data-toggle" => "modal"%>

        <%= link_to raw("<span class = 'glyphicon glyphicon-user'></span>"),
          "javascript:undefined",
          class: "dropdown-toggle",
          'data-toggle' => "dropdown",
          id: 'pl_add_gr'%>
        <ul class = "dropdown-menu">
          <% current_user.groups.each do |group| %>
            <li><%= link_to group.name, 
                grouplists_path(group_id: group,
                               playlist_id: playlist),
                               method: :post,
                               remote: true  %></li>
          <%end%>
          <li class="divider"></li>
          <% current_user.collab_groups.each do |group|%>
            <li><%= link_to group.name,
                grouplists_path(group_id: group,
                               playlist_id: playlist),
                               method: :post,
                               remote: true  %></li>
          <%end%>
        </ul>
      <%end%>
    </div>
  </div>
  <div class="modal fade" id=<%="#{playlist.id}Tag"%> tab-index="-1" 
    aria-hidden= 'true' aria-labelledby="new-pl-tagModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">x</button>
          <h3 id="new-playlist-tag">New Playlist Tag</h3>
        </div>
        <div id="pl-tag-modal">
          <%=render partial: "/tags/pl_tag_form", locals: {playlist: playlist}%> 
        </div>
      </div>
    </div>
  </div>
  <div id = "my_playlist">
    <track>
      <% sorted.each do |track| %>
        <%= sync partial: 'track_row', resource: track %>
      <%end%>
    </track>
    <track>
      <%= sync_new partial: 'track_row', resource: Track.new, 
        scope: playlist %> 
    </track>
  </div>
</div>
