<div id = "my_pl_wrapper">
  <div id = "pl_header_wrapper" >
    <%= link_to raw("<span class = 'glyphicon glyphicon-remove'></span>"),
      playlist,
      id: "remove_pl",
      method: :delete,
      data: {confirm: "Sure you want to delete #{playlist.name}"}%>

    <li id="pl_main_name"><%=playlist.name.titleize%></li>
    <li id="pl_owner">by <%=playlist.user.name %></li>

    <div id= "playlist-controls" class="dropdown">
     <%= link_to raw("<span class='glyphicon glyphicon-play'></span>"), 
         "javascript:undefined",
         onclick: "jukebox('#{playlist.key}')",
         id: 'pl_play_glyph'%>

      <% unless unpublishable(playlist)%> 
        <%= link_to raw("<span class='glyphicon glyphicon-bullhorn'>"), 
           publish_playlist_path(playlist),
           remote: true,
           id: 'bullhorn',
           data: {confirm: "Are you sure?"}%>
      <%end%>
      <%unless playlist.user != current_user %>
        <%= link_to raw("<span class = 'glyphicon glyphicon-user'></span>"),
          "javascript:undefined",
          class: "dropdown-toggle",
          'data-toggle' => "dropdown",
          id: 'pl_add_gr'%>
        <ul class = "dropdown-menu">
          <% current_user.groups.each do |group| %>
            <li><%= link_to group.name, 
                grouplists_path(group_id: group,
                               playlist_id: playlist),
                               method: :post,
                               remote: true  %></li>
          <%end%>
        </ul>
      <%end%>
    </div>

  </div>
  <div id = "my_playlist">
    <track>
      <% @sorted.each do |track| %>
        <%= sync partial: 'track_row', resource: track %>
      <%end%>
    </track>
    <track>
      <%= sync_new partial: 'track_row', resource: Track.new, 
        scope: playlist %> 
    </track>
  </div>
</div>
