  <div id = "pl_header_wrapper">
    <div id = "pl_play_glyph" class="pull-right">
      <button onclick= <%="jukebox('#{playlist.key}')"%> 
        class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-play"></span>
      </button> 
    </div>
    <div id = "pl_main_name" class = pull-left>
    <%=playlist.name.titleize%>
    </div>
    <div class = "dropdown">
      <%= link_to raw("<span class = 'glyphicon glyphicon-user'></span>"),
      "#",
      class: "dropdown-toggle",
      'data-toggle' => "dropdown"%>
      <ul class = "dropdown-menu">
        <% current_user.groups.each do |group| %>
          <li><%= link_to group.name, 
            grouplists_path(group_id: group,
                           playlist_id: playlist),
                           method: :post,
                           remote: true  %></li>
        <%end%>
      </ul>
    </div>
    <% if @group %> 
       <%= link_to "Publish", publish_playlist_path(playlist,
        group_id: @group.id),
        data: {confirm: "Are you sure?"} %>
    <%end%>
  </div>
  <div id = "my_playlist">
    <track>
      <% @sorted.each do |track| %>
        <%= sync partial: 'track_row', resource: track %>
      <%end%>
    </track>
    <track>
      <%= sync_new partial: 'track_row', resource: Track.new, 
        scope: playlist %> 
    </track>
  </div>

