<div class="panel panel-default" style="padding:5%;">
  <div class="pull-right">
    <button onclick= <%="jukebox('#{playlist.key}')"%> 
      class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-play"></span>
    </button> 
  </div>
  <div class= "panel panel-default "id="playlist_title_box">
    <h3> 
      <%=playlist.name.titleize%>
      <% if @group %> 
        <%= link_to "Publish", publish_playlist_path(playlist,
          group_id: @group.id),
          data: {confirm: "Are you sure?"} %>
      <%end%>
    </h3>
  </div>
  <div id = "my_playlist">
    <track>
      <% @sorted.each do |track| %>
        <%= sync partial: 'track_row', resource: track %>
      <%end%>
    </track>
    <track>
      <%= sync_new partial: 'track_row', resource: Track.new, 
        scope: playlist %> 
    </track>
  </div>
</div>

