    <% if result['type'] == "t" %>
      <div id="track_info">
        <li id="track_result_name">
        <%= link_to result['name'],
          playlists_search_result_path(
          search_type: 'Track',
          query: result['name']),
          remote: true,
          id: "track_result_name"%></li>
        <li id="album_result_name">
        <%= link_to result['album'],
          playlists_search_result_path(
          search_type: 'Album',
          list: result['albumKey']),
          remote: true,
          id: 'album_result_name'%></li>
        <li id="artist_result_name">
        <%= link_to result['artist'],
          playlists_search_result_path(
          search_type: 'Artist',
          query: result['artist']),
          remote: true,
          id: 'artist_result_name'%></li>
      </div>
      <div id="track_result_wrapper">
        <div id="add_track">
          <div class="dropdown pull-right">
            <%= link_to raw(
              "<div id='add_bar'>
              <span class='glyphicon glyphicon-plus'></span>
              </div>"),
              "#",
              class: "dropown-toggle",
              'data-toggle' => "dropdown",
              'ariel-labelledby' => "plus" %>
             <ul class = "dropdown-menu" ariel-labelledby="plus" >
               <% current_user.playlists.each do |playlist| %>
                 <li><%= link_to playlist.name, tracks_path(
                       playlist_id: playlist.id,
                       track: result),
                       remote: true,
                       method: :post %></li>
               <% end %>
               <% current_user.collab_playlists.each do |collab_pl|%>
                 <li><%= link_to collab_pl.name, tracks_path(
                       playlist_id: collab_pl.id,
                       track: result),
                       remote: true,
                       method: :post%></li>
               <%end%>
             </ul>
          </div>
        </div>
        <div id="search_image_wrapper">
          <%= link_to image_tag("#{result['icon']}",
            'id' => "search_track_image"),
            "javascript:undefined",
            onclick: "jukebox('#{result['key']}')"%>
        </div>

      </div>
    <%elsif result['type'] == 'r' %>
      <div id="artist_options">
        <li id= "artist_result_name"><%=result['name']%></h5>
        <ul class="nav nav-pills">
          <li><%=link_to "Albums",
            playlists_search_result_path(
            artist_key: result['key']),
            remote: true%>
          </li>
          <li><%=link_to "Tracks",
            "javascript:undefined",
            onclick: "show_search('#{result['key']}')"%>
          </li>
        </ul>
      </div>
      <div class="hidden" id =<%="#{result['key']}"%>>
        <%=form_tag(playlists_search_result_path,
                    method: 'get', remote: true) do %>
          <div class="input-group input-group-sm" id="artist_query_input">
            <input type="hidden" name="artist_key_tracks"
              value=<%="#{result['key']}"%>>
            <input type="text" name="artist_query"
              class="form-control"
              placeholder="Track name or leave blank">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" name="commit">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
         <%end%>
       </div>
    <%elsif result['type'] == 'a'%>
      <%= render partial: "/playlists/result_album", locals: {result: result}%>
    <%end%>
