  <div id="track_background"> 
    <% if result['type'] == "t" %>
      <div class="dropdown pull-right">
        <%= link_to raw(
          "<div class='pull-right' id='add_bar'>
          <span class='glyphicon glyphicon-plus'></span>
          </div>"),
          "#",
          class: "dropown-toggle", 
          'data-toggle' => "dropdown",
          'ariel-labelledby' => "plus" %>
         <ul class = "dropdown-menu" ariel-labelledby="plus" >
           <% current_user.playlists.each do |playlist| %>
             <li>
              <%= link_to playlist.name, tracks_path(
                playlist_id: playlist.id,
                track: result,
                group: @group_id),
                remote: true,
                method: :post %>
             </li>
           <% end %>
         </ul>
      </div>
      <blockquote>
        <h5 id= "search_track_name" >
          <%= result["name"].titleize %> by
          <%= result["artist"]%>
        </h5>
      </blockquote>
      <div id="search_image_wrapper" style=position:relative;left:0;top:0;> 
        <%= link_to image_tag("#{result['icon']}", 
          'id' => "search_track_image"), 
          "javascript:undefined",
          onclick: "jukebox('#{result['key']}')",
          onmouseover: "show_play('#{result['key']}')", 
          onmouseout: "hide_play('#{result['key']}')",
          style: "postion:relative;left:0;top:0;"%>
        <div class="invisible" id=<%="#{result['key']}"%>
          style=position:absolute;left:109px;top:109px;>
          <span class="glyphicon glyphicon-play" id="glyph_play_track">
          </span>
        </div>
      </div>
    <%elsif result['type'] == 'r' %>
      <div id="artist-align">
        <h5 id= "artist_name"><%=result['name']%></h5>
      </div>
        <ul class="nav nav-pills">
          <li><%=link_to "Albums", 
            playlist_path(@playlist,
            artist_key: result['key'],
            group: @group_id),
            remote: true%>
          </li>
          <li><%=link_to "Tracks", 
            "javascript:undefined",
            onclick: "show_search('#{result['key']}')"%>
          </li>
        </ul>
        <% x = 0 %>
        <div class="hidden" id =<%="#{result['key']}"%>>
           <%=form_tag(playlist_path, method: 'get', remote: true) do %>
             <div class="input-group input-group-sm" 
               id="artist_query_input">
               <input type="hidden" name="artist_key_tracks"
               value=<%="#{result['key']}"%>>
               <input type="text" name="artist_query" 
               class="form-control" 
               placeholder="Track name or leave blank">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" name="commit">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
           <%end%>
         </div>
         <% x += 1 %>
    <%elsif result['type'] == 'a'%>
      <%= render partial: "/playlists/result_album", locals: {result: result}%>
    <%end%>
</div> 
