<div id = "album_inline_wrapper">
  <h5 id= "album_name">
    <%= /(.{20}|.{15}|.{10}|.{5})/.match(result['name']).to_s%>
  ...
  </h5>
  <ul class="nav nav-pills" style=padding-bottom:5px;>
    <li><%=link_to "tracks", 
      playlist_path(@playlist,
      list: result['trackKeys'],
      group: @group_id),
      remote: true%>
    </li>
    <li>
      <a href=<%="##{result['key'] + result['type']}"%> 
      data-toggle="modal">Info</a>
    </li>
  </ul>
  <div id="search_image_wrapper" style=position:relative;left:0;top:0;> 
    <%= link_to image_tag("#{result['icon']}", 
      'id' => "search_track_image"), 
      "javascript:undefined",
      onclick: "jukebox('#{result['key']}')",
      onmouseover: "show_play('#{result['key']}')", 
      onmouseout: "hide_play('#{result['key']}')",
      style: "postion:relative;left:0;top:0;"%>
    <div class="invisible" id=<%="#{result['key']}"%>
      style=position:absolute;left:109px;top:109px;>
      <span class="glyphicon glyphicon-play" id="glyph_play_track">
      </span>
    </div>
  </div>
</div>
<!--album_info modal -->
<div class="modal fade" id=<%="#{result['key'] + result['type']}"%> 
  role="dialog" 
  aria-labelledby="album_title"
  aria-hidden='true'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="lead">
      </div>
      <div class="modal-header">
        <button type="button" class="close" 
          data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h3 class="modal-title" id="album_title">
          <%=result['name']%>
          <!--album name -->
        </h3>
      </div>
      <div class="modal-body">
        <h4 id="release">
          <!--artist and release date-->
          Released by <%=result['artist']%> on
          <%= result['displayDate'] %>
        </h4>
        <div id= "album_big">
           <!--album cover -->
           <%=image_tag result['bigIcon'], :id => "album_cover"%>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" 
          data-dismiss="modal">
          Close
        </button>
      </div>
    </div><!--/.modal-content-->
  </div><!-- /.modal-dialog -->
</div>
