  <%unless @search_results.blank?%>
    <%@search_results.each do |result|%>
      <%= render partial: 'result', locals: {result: result} %> 
    <%end%>
  <%end%>

  <% unless @album_tracks.blank? %>
    <div id="album_and_tracks">
        <h5><%=@album_tracks.first[1]['album']%></h5>
        <h6>by <%=@album_tracks.first[1]['artist']%></h6>
          <div id="search_image_wrapper" style=position:relative;left:0;top:0;> 
            <%= link_to image_tag("#{@album_tracks.first[1]['icon']}", 
              'id' => "search_track_image"), 
              "javascript:undefined",
              onclick: "jukebox('#{@album_tracks.first[1]['albumKey']}')",
              onmouseover: "show_play('#{@album_tracks.first[1]['key']}')", 
              onmouseout: "hide_play('#{@album_tracks.first[1]['key']}')",
              style: "postion:relative;left:0;top:0;"%>
            <div class="invisible" id=<%="#{@album_tracks.first[1]['key']}"%>
              style=position:absolute;left:109px;top:109px;>
              <span class="glyphicon glyphicon-play" id="glyph_play_track">
              </span>
            </div>
          </div>
    </div>
    <% @album_tracks.each do |track|%>
      <div class="well" id="search_result_well">
          <%= link_to raw("<div class='pull-right' id='add_bar_tracks'>
                  <span class='glyphicon glyphicon-plus'></span>
                  </div>"), tracks_path(
                  playlist_id: @playlist.id,
                  track: track[1],
                  group: @group_id),
                  remote: true,
                  method: :post %></br>
        <div id="album_tracks_name"> 
          <%= link_to track[1]['name'],"javascript:indefined", 
            onclick:"jukebox('#{track[1]['key']}')"%>
        </div>
      </div>
    <%end%>
  <%end%>
