  <%unless @search_results.blank?%>
    <%@search_results.each do |result|%>
      <%= render partial: 'result', locals: {result: result} %> 
    <%end%>
  <%end%>

  <% unless @album_tracks.blank? %>
    <div id="album_and_tracks">
      <li id="track_result_name"><%=@album_tracks.first[1]['album']%></li>
      <li id="artist_result_name"><%=@album_tracks.first[1]['artist']%></li>
          <div id="search_image_wrapper" > 
            <%= link_to image_tag("#{@album_tracks.first[1]['icon']}", 
              'id' => "search_track_image"), 
              "javascript:undefined",
              onclick: "jukebox('#{@album_tracks.first[1]['albumKey']}')"%>
          </div>
    </div>
    <% @album_tracks.each do |track|%>
      <div class="well" id="search_result_well">
        <div class = "dropdown pull-right">
          <%= link_to raw("<div class='pull-right' id='add_bar_tracks'>
            <span class='glyphicon glyphicon-plus'></span>
            </div>"), 
            "javascript:undefined",
            class: "dropdown-toggle",
            "data-toggle" => "dropdown"%> 
          <ul class = "dropdown-menu" >
          <% current_user.playlists.each do |playlist| %>
            <li>
            <%=link_to playlist.name, tracks_path(
              playlist_id: playlist.id,
              track: track[1],
              group: @group_id),
              remote: true,
              method: :post %>
            </li>
          <%end%>
        </div>
        <div id="album_tracks_name"> 
          <%= link_to track[1]['name'],"javascript:indefined", 
            onclick:"jukebox('#{track[1]['key']}')"%>
        </div>
      </div>
    <%end%>
  <%end%>
