<%unless @search_results.blank?%>
  <%@search_results.each do |result|%>
    <div class="well song_search">
      <% if result['type'] == "t" %>
        <div id="title_and_add">
          <div id="add">
            <%=link_to 'add', tracks_path(
              playlist_id: @playlist.id,
              track: result,
              group: @group_id),
              remote: true,
              method: :post,
              class: "btn btn-sm btn-default" %></br>
          </div>
          <h5 id= "search_track_name">
            <%= result["name"].titleize %> by
            <%= result["artist"]%>
          </h5>
        </div>
        <div id="search_image_wrapper" style=position:relative;left:0;top:0;> 
          <%= link_to image_tag("#{result['icon']}", 
            'id' => "search_track_image"), 
            "javascript:undefined",
            onclick: "jukebox('#{result['key']}')",
            onmouseover: "show_play('#{result['key']}')", 
            onmouseout: "hide_play('#{result['key']}')",
            style: "postion:relative;left:0;top:0;"%>
          <div class="invisible" id=<%="#{result['key']}"%>
            style=position:absolute;left:109px;top:109px;>
            <span class="glyphicon glyphicon-play" id="glyph_play_track">
            </span>
          </div>
        </div>
      <%elsif result['type'] == 'r' %>
        <h4 id= "artist_name"><%=result['name']%></h4>
        <ul class="nav nav-pills">
          <li><%=link_to "Albums", playlist_path(@playlist,
                                                 artist_key: result['key'],
                                                 group: @group_id),
                                                 remote: true%></li>
          <li><%=link_to "Tracks", "#"%> </li>
        </ul>
      <%elsif result['type'] == 'a'%>
        <h4 id= "album_name"><%=result['name']%>
        <button onclick= <%="jukebox('#{result['key']}')"%>
          class="btn btn-default btn-md pull-right">
          <span class="glyphicon glyphicon-play"></span>
        </button></h4> 
        <ul class="nav nav-pills" style=padding-bottom:5px;>
          <li><%=link_to "tracks", playlist_path(@playlist,
                                                 list: result['trackKeys'],
                                                 group: @group_id),
                                                 remote: true%></li>
          <li><a href=<%="##{result['key']}"%> data-toggle="modal">Info</a></li>
        </ul>
        <!--album_info modal -->
        <div class="modal fade" id=<%="#{result['key']}"%> 
          role="dialog" 
          aria-labelledby="album_title"
          aria-hidden='true'>
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="lead">
              </div>
              <div class="modal-header">
                <button type="button" class="close" 
                  data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
                <h3 class="modal-title" id="album_title">
                  <%=result['name']%>
                  <!--album name -->
                </h3>
              </div>
              <div class="modal-body">
                <h4 id="release">
                  <!--artist and release date-->
                  Released by <%=result['artist']%> on
                  <%= result['displayDate'] %>
                </h4>
                <div id= "album_big">
                   <!--album cover -->
                   <%=image_tag result['bigIcon'], :id => "album_cover"%>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" 
                  data-dismiss="modal">
                  Close
                </button>
              </div>
            </div><!--/.modal-content-->
          </div><!-- /.modal-dialog -->
        </div>
        <%=image_tag result['icon'], 'id' => 'search_track_image'%>
      <%end%>
    </div> 
  <%end%>
<%end%>
<% unless @album_tracks.blank? %>
  <blockquote>
    <h3><%=@album_tracks.first[1]['album']%></h3>
    <h5>by <%=@album_tracks.first[1]['artist']%></h5>
    <%= image_tag @album_tracks.first[1]['icon']%>
  </blockquote>
  <% @album_tracks.each do |track|%>
    <div class="well">
      <button onclick= <%="jukebox('#{track[1]['key']}')"%> 
        class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-play"></span>
      </button>  
      <%= track[1]['name']%>
      <%=link_to 'add', tracks_path(
         playlist_id: @playlist.id,
         track: track[1],
         group: @group_id),
         remote: true,
         method: :post,
         class: "btn btn-xs btn-primary pull-right"%>
    </div>
  <%end%>
<%end%>

