    <h3 id="new_playlist_name">
        <%=link_to @playlist.name.titleize, @playlist.embedUrl, :target => "_blank"%>
    </h3>
		<h3 id="votes">Votes</h3>
		  <% @playlist.tracks.each do |track|%>
	      <div class= "well">
	        <h4 id="track_name">
	          <%= link_to track.name, track.embedUrl, 'id' => 'track_name'%></br>
	        </h4>
        
	          <div id="vote">
              <%=link_to raw("<span class='glyphicon glyphicon-chevron-up'</span>"),
                controller: "tracks", 
                action: "vote_up", 
                id: track.id, 
                playlist_id: @playlist.id, 
                user_id: @playlist.user_id,
                current_user: current_user.id %>
              <%=link_to raw("<span class='glyphicon glyphicon-chevron-down'</span>"),
                controller: "tracks", 
                action: "vote_down", 
                id: track.id, 
                playlist_id: @playlist.id, 
                user_id: @playlist.user_id,
                current_user: current_user.id  %>
	          </div>
          
	        <div id="vote_count">
	        <h4><%=track.votes_for - track.votes_against%></h4>
	        </div></br>
	      </div>
		  <%end%>
		</div>
