<div class="row-fluid">
  <div class="span6 well", id="add_songs">
  		<h2 id="search_songs_title">Search for Songs</h2>
	    <div class= "well search_box">
		    <div id="search_for_stuff_form form-search">
		      <%=form_tag({controller: "playlists", action: "show"}, method: "get",class: "search_for_stuff")%>
          <%=text_field_tag :query, nil, :placeholder => "search for Tracks, Artist, or Album", 'id' => 'search_track'%></br>
          <%=submit_tag "Search", "class" => "btn primary-btn", "id" => "track_search_button"%></br>
		    </div>
		  </div>
		  <div class="search_results">
        <% unless @search_result.blank? %>
			    <% @search_result.each do |result|%>
            <div class="well song_search">
              <%= link_to result["name"], result["embedUrl"]%>
              <div id="add">
                <%=link_to 'add', tracks_path(:playlist_id => @playlist, :name => "#{result['name']}", :playlist_key => @playlist.key,
                                              :key => "#{result['key']}", :embedUrl => "#{result['embedUrl']}" ), method: "post", 'class' =>
                                              'btn btn-primary'%>
              </div></br>
            </div>  
          <%end%>
        <%end%>
		  </div>  
  </div>
  <div class="span6 well", id= "add_songs">
	  <h2 id="new_playlist_name"><%=link_to @playlist.name.capitalize, @playlist.embedUrl%></h2>
	  <% @playlist.tracks.each do |track|%>
      <div class= "well">
        <h4 id="track_name">
          <%= link_to track.name, track.embedUrl, 'id' => 'track_name'%></br>
        </h4>
        <% if @playlist.user_id = current_user.id  %>
          <div id="remove_button">
          <%=link_to "remove", track, method: "delete", :id => track.id, 'class' => 'btn btn-danger' %>
          </div>
        <%else%>
          <div id="vote_up">
            vote_up
          </div>
          <div id="vote down">
            vote_down
          </div>
        <%end%>
      </div>
	  <%end%>
	</div>
</div>

