<div id="white_top">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <%= render partial: 'playlist_header', 
          locals: {playlist: @playlist,
                   group:    @group,
                   tracks:   @tracks,
                   votes:    @total_votes}%> 
      </div>
      <div class="col-sm-5 col-md-6" id="carousel_pad">
        <blockquote>
        <div id="heavy_rotation" >
          <%=render "carousel"%>
        </div>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<div id="colored_body">
  <div class="container" id= "bottom_body">
    <div class="row">
      <div class="col-sm-5 col-md-4">
        <div id= "playlist_search_form">
          <%= render partial: 'playlist_search_form' %>
        </div>
        <div id="js_search"> 
            <% unless @search_results.blank? && @album_tracks.blank?%>
              <%= render "show"%>
            <%end%>
        </div>
      </div>
      <div class="col-sm-7 col-md-8", id= "my_playlist">
        <div class="panel panel-default" style="padding:5%;">
          <div class="pull-right">
            <button onclick= <%="jukebox('#{@playlist.key}')"%> 
              class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-play"></span>
            </button> 
          </div>
          <div class= "panel panel-default "id="playlist_title_box">
            <h3> 
              <%=@playlist.name.titleize%>
            </h3>
          </div>
          <playlist>
            <%= sync partial: 'playlist', resource: @playlist %>
          </playlist>
        </div>
      </div>
    </div>
  </div>
</div>
