<div id="white_top">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="lead">
          <h1><%=@playlist.name.titleize%></h1>
          <% if @group_id %> 
            <div id="publish">
                <%= link_to 'publish', 
                  ({controller: "playlists", 
                    action: "publish",
                    playlist_id: @playlist.id,
                    group: @group_id}),
                   "class" => "btn btn-default btn-default", 
                    confirm: "Are you sure?" %>
            </div>
         <%end%>
          <div id="playlist_specs" style="inline">
            Tracks <%=@playlist.tracks.count%>
            <%x=0%>
            <%@playlist.tracks.each {|track| x += track.votes_for}%>
            Votes <%= x %>
          </div>
        </div>
      </div>
      <div class="col-md-6" id="carousel_pad">
        <blockquote>
        <div id="heavy_rotation" >
          <%=render "carousel"%>
        </div>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<div id="colored_body">
  <div class="container" id= "bottom_body">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default" id=search_panel>
          <h3 id="search_songs_title">Search</h3>
            <%=form_tag(playlist_path, method: 'get', remote: true) do%>
              <% if @group_id %>
                <input type='hidden' name="group" value="<%=@group_id %>">
              <%end%>
              <div class="radio"> 
                <label> 
                  <input type="radio" name="search_type"  id="option_track"
                  value="Track" checked>
                  Track
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="search_type"  id="option_artist"
                  value="Artist">
                  Artist
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="search_type"  id="option_album"
                  value="Album">
                  Album
                </label>
              </div>
              <div class= "input-group input-group-md", style="padding-bottom:10px;">
                <div class="input-group-btn">
                  <button class="btn btn-default dropdown-toggle" 
                    name="commit" type="submit">
                    Search
                  </button>
                </div>
                <input name="query" id="query" type="text" placeholder="track name" 
                class="form-control" >
              </div>
            <%end%>
            <div id="js_search">  
              <% unless @search_results.blank? && @album_tracks.blank?%>
                <%= render "show"%>
              <%end%>
            </div>
        </div>
      </div>
      <div id="my_playlist_partial">
        <%=render(@playlist)%>
      </div>
    </div>
  </div>      
</div>
