<div id="white_top">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= render partial: 'playlist_header', 
          locals: {playlist: @playlist,
                   group:    @group,
                   tracks:   @tracks,
                   votes:    @total_votes}%> 
      </div>
      <div class="col-md-6" id="carousel_pad">
        <blockquote>
        <div id="heavy_rotation" >
          <%=render "carousel"%>
        </div>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<div id="colored_body">
  <div class="container" id= "bottom_body">
    <div class="row">
      <div class="col-md-4">
          <div id= "playlist_search_form">
            <%= render partial: 'playlist_search_form', locals: {group: @group}%>
          </div>
          <div id="js_search"> 
              <% unless @search_results.blank? && @album_tracks.blank?%>
                <%= render "show"%>
              <%end%>
          </div>
        </div>
      <div id="my_playlist_partial">
        <%= render partial: 'playlist', locals: {playlist: @playlist,
                   tracks: @playlist.tracks}%>
      </div>
    </div>
  </div>
</div>
