<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "CompromiseMusic" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
    
    <body>
	    <div class= "container-fluid">
		  	<div class= "notify">
			    <%= bootstrap_flash %>
			  </div>
		    <div class="row-fluid">
			    <div class="span12", id= "header">
				    <div class="header" id="header">
					    <h1></h1>
					  </div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span4">
					</div>	
					<div class="span4">
						<% if current_user %>
						  <div class="control_panel">
						 	 <div class= "user_image">
				        <%= link_to image_tag(current_user.image, 'id' => 'user_image', 'class' => 'img-circle'), root_path %>
						    </div>
						      <%=link_to image_tag('make_playlist.png'), playlists_path, "id" => "make_playlist" %> 
						      <%=link_to image_tag('make_friend.png'), users_path, "id" => "make_friend" %>
						  </div>
						<% end %>
					</div>
					<div class="span4">
					</div>
				</div>	
				
				<%= yield %>
				
				<div class="row-fluid">
			  	<div class="span4">
					
					</div>
				  <div class="span4" id= "user-widget">
					  <% if current_user %>
					    <div class="well" id="signed_in">
						    <div class= "lead"> 
						      <%= current_user.name.capitalize %>
				          <%= link_to "Sign out", signout_path %>
				        </div>
				      </div> 
				    <%else%>
				      <div class="well" id="sign_in">
					      <h1><%= link_to "Sign in with Rdio", 'auth/rdio/' %></h1>
					    </div>
					  <%end%>
					</div>
				  <div class="span4">
					</div>
			  </div>
	    </div> <!-- /container -->
    </body>
</html>
