<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Compromise" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "playlists", "application", :media => "all", "data-turbolinks-track" => "true" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" %>
    <%= javascript_include_tag Sync.adapter_javascript_url %>
  </head>
  <body>
  <nav class= "navbar navbar-default navbar-fixed-top" role= "navigation">
        <div class="container">
          <div class= "navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target=".navbar-collapse" >
              <span class="sr-only">Toggle-navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "Compromise", root_path, "class" => "navbar-brand" %>
          </div>
          <div class="collapse navbar-collapse">
            <ul class= "nav navbar-nav">
              <li class="" id="home_pg" >
                <%= link_to "Home", root_path %>
              </li>
              <li class="" id="friends_pg">
                <%= link_to "Friends", users_path %>
              </li>
              <li class="" id="groups_pg">
                <%= link_to "Groups", user_groups_path(current_user) %>
              </li>
              <li class="" id="playlists_pg">
                <%= link_to "Playlists", user_playlists_path(current_user) %>
              </li>

            </ul>
              <p class="navbar-text navbar-right">
              <%= current_user.name.titleize%>
              <%=link_to 'Log out', signout_path, 
                  "class" => "navbar-link btn-sm btn-default"%>
              </p>
          </div>
        </div>
      </nav>
      <%= yield %>
      <div class="hidden" id="open_nav_wrapper">
        <a href="javascript:undefined" onclick="open_nav()"> 
          <div class="navbar navbar-default navbar-fixed-bottom" id="open_nav">
            <span class='glyphicon glyphicon-arrow-up'></span>
          </div>
        </a>
      </div>
      <div class="invisible" id="hide_nav">
        <nav class="navbar navbar-default navbar-fixed-bottom" 
          id= "footer"
          role="navigation">
            <a href="javascript:undefined" onclick="hide_nav()">
              <div id="close_nav">
                <span class='glyphicon glyphicon-arrow-down'></span>
              </div>
            </a>
          <div id="apiswf"></div>
            <ul class="nav navbar-nav">
              <li>
              <blockquote>
                <img src="" id="art" style="width:85px;float:left;">
              </blockquote>
              <li>
              <li class="navbar-text">
              <li class="navbar-text">
              <blockquote>
               <input type="hidden" id="play_key" value="">
              <dd id="track"></dd>
              <dd id="artist"></dd>
              </blockquote>
              </li>
              <div class="nav navbar-nav" id="controls">
                <li class="navbar-text">
                  <%=link_to raw("
                    <span class='glyphicon glyphicon-backward', id='prev_glyph' >
                    </span>"), href='javascript:undefined', 
                    'onclick'=> "previous()", 
                    id: "control_backward"%>
                  </li>
                  <li class="navbar-text">
                  <%=link_to raw("
                    <span class='glyphicon glyphicon-pause', id='pause_glyph' >
                    </span>"), href='javascript:undefined', 
                    'onclick'=> "pause_control()", 
                    id: "control_button"%>
                  </li>
                  <li class="navbar-text">
                    <%=link_to raw("
                      <span class='glyphicon glyphicon-forward', 
                      id='next_glyph' >
                      </span>"), href='javascript:undefined', 
                      'onclick'=> "next()", 
                      id: "control_next"%>
                  </li>
              </div>
            </ul>
            <div id="freq">
              <div id="sound"></div>
              <div id="sound"></div>
              <div id="sound"></div>
              <div id="sound"></div>
              <div id="sound"></div>
              <div id="sound"></div>
              <div id="sound"></div>
              <div id="sound"></div>
              <div id="sound"></div>
              <div id="sound"></div>
              <div id="sound"></div>
            </div>
        </nav>
      </div>
  </body>
</html>
