<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Compromise" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "playlists", "application", :media => "all", "data-turbolinks-track" => "true" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" %>
  </head>
  <body>
  <nav class= "navbar navbar-default navbar-fixed-top" role= "navigation">
        <div class="container">
          <div class= "navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target=".navbar-collapse" >
              <span class="sr-only">Toggle-navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "Compromise", root_path, "class" => "navbar-brand" %>
          </div>
          <div class="collapse navbar-collapse">
            <ul class= "nav navbar-nav">
              <li class="" id="home_pg" >
                <%= link_to "Home", root_path %>
              </li>
              <li class="" id="friends_pg">
                <%= link_to "Friends", users_path %>
              </li>
              <li class="" id="groups_pg">
                <%= link_to "Groups", user_groups_path(current_user) %>
              </li>
            </ul>
              <p class="navbar-text navbar-right">
              <%= current_user.name.titleize%>
              <%=link_to 'Log out', signout_path, 
                  "class" => "navbar-link btn-sm btn-default"%>
              </p>
          </div>
        </div>
      </nav>
      <%= yield %>
      <div class="invisible" id="hide_nav">
        <nav class="navbar navbar-default navbar-fixed-bottom" 
          id= "footer"
          role="navigation">
          <div id="apiswf"></div>
            <ul class="nav navbar-nav">
              <li>
              <blockquote>
                <img src="" id="art" style="width:85px;float:left;">
              </blockquote>
              <li>
              <li class="navbar-text">
              <li class="navbar-text">
              <blockquote>
               <input type="hidden" id="play_key" value="">
              <dd id="track"></dd>
              <dd id="artist"></dd>
              </blockquote>
              </li>
              <div class="navbar-text" id="controls">
                <li class="navbar-link">
                <%=link_to_function raw("
                  <span class='glyphicon glyphicon-pause', id='pause_glyph' ></span>"),
                 "pause_control()", class: "btn btn-default", id: "control_button"%>
                </li>
              </div>
            </ul>
              <div id="freq">
                <div id="sound"></div>
                <div id="sound"></div>
                <div id="sound"></div>
                <div id="sound"></div>
                <div id="sound"></div>
                <div id="sound"></div>
                <div id="sound"></div>
                <div id="sound"></div>
                <div id="sound"></div>
                <div id="sound"></div>
                <div id="sound"></div>
              </div>
        </nav>
      </div>
  </body>
</html>
